*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    height: 100px;
    font-size: 30px;
    top: 0;
    background-image: url(https://media.istockphoto.com/id/1337260312/photo/floral-seamless-pattern-multicolored-flowers-peonies-on-a-black-background.jpg?s=612x612&w=is&k=20&c=pGcqKpPsDL87kUmm-qZQHo-IdlGl5muZROBfuLJPmws=);
}
header{
    width: 25%;
    height: 25%;
    box-shadow: 5px 10px 8px #888888;
}   
.container{
    float: left;
    width: 75%;
}
section{
    min-height: 300px;
    border: solid black;
    font-size: 42px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15) ;
}
article{
    min-height: 100;
    border: solid black;
    font-size: 42px;
    font-style: italic;
}
aside{
    width: 25%;
    height: 500px;
    float: left;
    font-size: small;
    border: solid black;
    font-size: 42px;
    text-shadow:  1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
footer{
    height: 100px;
    font-size: 42px;
    border: solid black;
    text-shadow:   1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;

}
.navbar ul{
    text-align: right;
    background-position: 100%;
    border: black;
}
.navbar li{
    display: inline-block;
    margin-right: 0%;
    text-shadow:  0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.navbar{
    position: sticky;
    float: right;
    margin-right: 16px;
}
a{
    color: black;
    text-decoration: none;
}
.clearfix{
    clear: both;
}
a:visited{
    color: darkslateblue;
}
a:hover{
    color: cornflowerblue;
}
nav{
   
}