div{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0%;
    display: inline-block;
    
}
.pastel{
    background-color: #cdf4ea;
}
.blue{
  
    background-color: #040887;
}
.black{
    background-color: #101812;
}
.red{

    background-color: #c25634;
}
.purple{
    background-color: indigo;
}
.cats{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 20%;
    background-color: black;
}
.scary{
    
    color: orange;
}
.regular{
    color: darksalmon;
    
}
